h1{
    text-align: center;
    text-decoration: underline;
    color: aquamarine;
    background: black;
    padding: 30px; 
    font-size: 35px;
    border-style: solid;
    border-width: 5px;
    border-color: green;
    margin:15px;
}

h2{
    color: coral;
    text-decoration: underline;
}

h3{
    color: cornflowerblue;
    text-decoration: underline;
    font-size: 30px;
    text-align: center;
}

h4{
    color: blue;
    font-size: 20px;
}


a{
    color: blue;
    font-size: 22px;
}
li,
strong
{
    text-align: center;
    color: red;

}

p{
   color: cornflowerblue;
   text-align: center;
   font-size: 22px;
}

img{
    border-style: solid;
    border-color: coral ;
    border-width: 5px;
   
}

#weather{
    length: 400px;
    width:400px;

}
#password{
    length: 400px;
    width:400px;

}

h4{
    
}
h5{
    text-align: center;
    font-size: 25px;
    color: red;
}
h6{
    text-align: center;
    font-size: 20px;
    color: red;
    text-decoration: underline;
    
}
